*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#111;
    color:white;
}

header{
    background:#000;
    color:#ff9800;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

header button{
    background:#ff9800;
    color:#000;
    border:none;
    padding:10px 20px;
    border-radius:25px;
    cursor:pointer;
    font-weight:bold;
}

.cart-container{
    display:flex;
    gap:30px;
    padding:40px;
}

.cart-left{
    flex:2;
    background:#1b1b1b;
    padding:25px;
    border-radius:15px;
}

.cart-right{
    flex:1;
    background:#1b1b1b;
    padding:25px;
    border-radius:15px;
}

.cart-right h2,
.cart-left h2{
    color:#ff9800;
    margin-bottom:20px;
}

.cart-right p{
    margin:15px 0;
    font-size:18px;
}

.cart-right button{
    width:100%;
    padding:15px;
    background:#ff9800;
    color:#000;
    border:none;
    border-radius:30px;
    font-weight:bold;
    cursor:pointer;
}

#checkout{
    padding:40px;
}

#checkout input,
#checkout textarea{
    width:100%;
    padding:12px;
    margin:10px 0 20px;
    border-radius:8px;
    border:none;
}

#checkout button{
    width:100%;
    padding:15px;
    background:#ff9800;
    color:#000;
    border:none;
    border-radius:30px;
    font-weight:bold;
    cursor:pointer;
}

footer{
    background:#000;
    text-align:center;
    padding:25px;
    margin-top:30px;
}