*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:#fff;
padding:30px;
}

h1{
text-align:center;
color:#ff9800;
margin-bottom:30px;
}

#ordersList{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
}

.order-card{
background:#222;
padding:20px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.3);
}

.order-card h3{
color:#ff9800;
margin-bottom:10px;
}

.order-card p{
margin:5px 0;
}

.order-card button{
    background:#ffb400;
    color:#000;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
    margin-top:10px;
    transition:0.3s;
    box-shadow:0 4px 10px rgba(255,180,0,0.4);
}

.order-card button:hover{
    background:#ff9800;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(255,180,0,0.8);
}

.order-card button:active{
    transform:scale(0.95);
}
